<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javieraltmann.nightplan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".UI.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".UI.DestacadosActivity"
            android:label="Destacados"/>
        <activity android:name=".UI.InicioActivity"/>  <!-- NO TIENE TOOLBAR-->

        <activity android:name=".UI.PreferenciasActivity"
                  /> <!-- HAY QUE AGREGAR EL NOMBRE EN EL LAYOUT CUANDO SE AGREGUE EL TOOLBAR -->
        <activity android:name=".UI.CrearGrupoActivity"
            android:label="@string/crear_grupos" />


        <activity android:name=".UI.RegistrarseActivity"/>




        <activity android:name="UI.GrupoActivity"
            android:label="@string/mis_grupos"/>

       

    </application>

</manifest>