<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.javieraltmann.nightplan">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".UI.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".UI.RegistrarseActivity" /> <!-- Es la pantalla de registrarse -->

        <activity android:name=".UI.GrupoActivity"
            android:label="@string/mis_grupos"/> <!-- Es la pantalla de los grupos que tiene el usuario -->

        <activity android:name=".UI.CrearGrupoActivity"
            android:label="@string/crear_grupos" /> <!-- Es la pantalla crear grupos -->

        <activity android:name=".UI.DestacadosActivity"
            android:label="@string/destacados"/> <!-- Es la pantalla de destacados -->

        <activity android:name=".UI.InicioActivity"/> <!-- Es la pantalla numero 1 de la app -->






    </application>

</manifest>